In [4]:
a = 3 
b = 2
a+b

5

In [9]:
a=3
print(a)
a=a+1
a

3

4

In [16]:
a = 27
b = 5
a<<1

54

In [30]:
interval = (2**(1/12))

a = 440
print(a)
a = a*interval
print(a)
a = a*interval
print(a)
a = a*interval
print(a)
a = a*interval
print(a)
a = a*interval
print(a)
a = a*interval
print(a)
a = a*interval
print(a)
a = a*interval
print(a)
a = a*interval
print(a)
a = a*interval
print(a)
a = a*interval
print(a)
a = a*interval
print(a)
a = a*interval
print(a)
a = a*interval
print(a)
a = a*interval
print(a)

440
466.1637615180899
493.8833012561241
523.2511306011974
554.3652619537443
587.3295358348153
622.253967444162
659.2551138257401
698.456462866008
739.988845423269
783.9908719634989
830.6093951598906
880.0000000000003
932.3275230361802
987.7666025122486
1046.502261202395

In [32]:
'Hello'

'Hello'

In [34]:
"Hello"

'Hello'

In [38]:
Food = "Python's favorite food is Apple"
print(Food)

Python's favorite food is Apple

In [40]:
Say = '"Python is very easy". He says.'
print(Say)

"Python is very easy". He says.

In [2]:
print("a")

a

In [47]:
"1" + '2'

'12'

##포멧팅

In [50]:
bannas = 3
days = 5
"Shayne ate {0} bannas for {1} days".format(bannas,days)

'Shayne ate 3 bannas for 5 days'

In [58]:
bannas = "plenty of"
days = 10
at = "Starbucks"
"HJ ate {0} bannas for {1} days at {2}". format(bannas, days, at)

'HJ ate plenty of bannas for 10 days at Starbucks'

In [59]:
model_a = 4.345345

In [63]:
model_b=4.5453451
"A={0:.3f}, B={1:.2f}". format(model_a, model_b)

'A=4.345, B=4.55'

아무거나

In [72]:
message = "Hello World"
message
print(message[0])
print(message[-3])
print(message[2:5])
print(message[-2:3])

H
r
llo

In [74]:
"W" in message

True

In [78]:
print ("W" in message)
print ("a" in message)

True
False

In [84]:
odd = [1,3,5,7,9]
print(odd[0])
print(odd[2:4]) #2:4 에서 2는 start index, 4는 stop index, 즉 stop index 는 실행하지 않는다.

1
[5, 7]

In [85]:
print(1 in odd)

True

In [88]:
print(50in odd)

False

In [95]:
odd.append(11)

In [105]:
words=["Hello","world"]
print("words")
print(words)

words
['Hello', 'world']

##제어문

In [119]:
age = 52
if age<5:
    print("아이")
elif age<18:
    print("학생")
else:
    print("어른")

어른

In [123]:
color = ['green', 'pink', 'blue', 'black']
print(color[0])
print(color[1])
print(color[2])
print(color[3])
for stuff in color:
    print(stuff)

green
pink
blue
black
green
pink
blue
black

In [125]:
for i in range(8):
    print(i);

0
1
2
3
4
5
6
7

In [129]:
for i in range(2,8):
    if i == 6:
        break
    print(i)

2
3
4
5

In [131]:
for i in range(1,7):
    if i==3:
        continue
    if i==6:
        break
    print(i)

1
2
4
5

In [134]:
for i in range(1,10):
    if i==3:
        continue
    if i==6:
        break
    double=i*2
    print(double)

2
4
8
10

In [165]:
abc=0
for i in range(10,100):
    abc = abc+i
print(abc)

4905

In [158]:
a_list = [1,3,5,7]
for i in range (1,10):
    if i ==5:
        continue
    if i ==8:
        break
    a_list.append(i*3)
print(a_list)

[1, 3, 5, 7, 3, 6, 9, 12, 18, 21]

In [159]:
#def->define
def multiply(a,b):
    c=a*b
    return c
print(multiply(3,4))

12

In [166]:
def sign(n):
    if n>0:
        return '양수'
    if n<0:
        return '음수'
    else:
        return '0'

for n in [-1,0,1]:
    print(sign(n))

음수
0
양수

In [171]:
for n in range(-3,3):
    print(sign(n))

음수
음수
음수
0
양수
양수

In [208]:
def factorial(nn):
    result=1
    for i in range(1,nn+1):
        result = result*i
    return result

print(factorial(4))
print(result) #다른 함수의 결과도 가져올 수 있나?

24
24

In [3]:
def factorial(n):
    result=1
    for i in range(1,n+1):
        result =result*i
    return result
print(factorial(7))

5040

In [193]:
multiline = '''Life is too short
You need python'''

print(multiline)

Life is too short
You need python