# 중첩for문

In [6]:
nest = [[1,2,3],
        [4,5,6],
        [7,8,9]]

for x in range(3):
    for y in range(3):
        print ('nest[',x,'][',y,']:',nest[x][y])

nest[ 0 ][ 0 ]: 1
nest[ 0 ][ 1 ]: 2
nest[ 0 ][ 2 ]: 3
nest[ 1 ][ 0 ]: 4
nest[ 1 ][ 1 ]: 5
nest[ 1 ][ 2 ]: 6
nest[ 2 ][ 0 ]: 7
nest[ 2 ][ 1 ]: 8
nest[ 2 ][ 2 ]: 9

#중첩for문 (변수연결, 별 찍기)

In [19]:
for i in range(1,6):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [21]:
for i in range(5,0,-1):
    for j in range(i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [23]:
for i in range(1,6):
    for j in range(6-i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [40]:
#구구단 출력하기

dan = 2;

for dan in range(2,10):
    print(dan,"단:")
    for multiple in range(1,10):
        print(dan,"×",multiple,"=",(dan*multiple),end="")
        print()
    print()

2 단:
2 × 1 = 2
2 × 2 = 4
2 × 3 = 6
2 × 4 = 8
2 × 5 = 10
2 × 6 = 12
2 × 7 = 14
2 × 8 = 16
2 × 9 = 18

3 단:
3 × 1 = 3
3 × 2 = 6
3 × 3 = 9
3 × 4 = 12
3 × 5 = 15
3 × 6 = 18
3 × 7 = 21
3 × 8 = 24
3 × 9 = 27

4 단:
4 × 1 = 4
4 × 2 = 8
4 × 3 = 12
4 × 4 = 16
4 × 5 = 20
4 × 6 = 24
4 × 7 = 28
4 × 8 = 32
4 × 9 = 36

5 단:
5 × 1 = 5
5 × 2 = 10
5 × 3 = 15
5 × 4 = 20
5 × 5 = 25
5 × 6 = 30
5 × 7 = 35
5 × 8 = 40
5 × 9 = 45

6 단:
6 × 1 = 6
6 × 2 = 12
6 × 3 = 18
6 × 4 = 24
6 × 5 = 30
6 × 6 = 36
6 × 7 = 42
6 × 8 = 48
6 × 9 = 54

7 단:
7 × 1 = 7
7 × 2 = 14
7 × 3 = 21
7 × 4 = 28
7 × 5 = 35
7 × 6 = 42
7 × 7 = 49
7 × 8 = 56
7 × 9 = 63

8 단:
8 × 1 = 8
8 × 2 = 16
8 × 3 = 24
8 × 4 = 32
8 × 5 = 40
8 × 6 = 48
8 × 7 = 56
8 × 8 = 64
8 × 9 = 72

9 단:
9 × 1 = 9
9 × 2 = 18
9 × 3 = 27
9 × 4 = 36
9 × 5 = 45
9 × 6 = 54
9 × 7 = 63
9 × 8 = 72
9 × 9 = 81

In [45]:
#전체 구구단 출력

for m in range(2,10):
    print('='*30)
    for n in range(1,10):
        print(m,'x',n,'=',m*n,end="\t|\n")

==============================
2 x 1 = 2	|
2 x 2 = 4	|
2 x 3 = 6	|
2 x 4 = 8	|
2 x 5 = 10	|
2 x 6 = 12	|
2 x 7 = 14	|
2 x 8 = 16	|
2 x 9 = 18	|
==============================
3 x 1 = 3	|
3 x 2 = 6	|
3 x 3 = 9	|
3 x 4 = 12	|
3 x 5 = 15	|
3 x 6 = 18	|
3 x 7 = 21	|
3 x 8 = 24	|
3 x 9 = 27	|
==============================
4 x 1 = 4	|
4 x 2 = 8	|
4 x 3 = 12	|
4 x 4 = 16	|
4 x 5 = 20	|
4 x 6 = 24	|
4 x 7 = 28	|
4 x 8 = 32	|
4 x 9 = 36	|
==============================
5 x 1 = 5	|
5 x 2 = 10	|
5 x 3 = 15	|
5 x 4 = 20	|
5 x 5 = 25	|
5 x 6 = 30	|
5 x 7 = 35	|
5 x 8 = 40	|
5 x 9 = 45	|
==============================
6 x 1 = 6	|
6 x 2 = 12	|
6 x 3 = 18	|
6 x 4 = 24	|
6 x 5 = 30	|
6 x 6 = 36	|
6 x 7 = 42	|
6 x 8 = 48	|
6 x 9 = 54	|
==============================
7 x 1 = 7	|
7 x 2 = 14	|
7 x 3 = 21	|
7 x 4 = 28	|
7 x 5 = 35	|
7 x 6 = 42	|
7 x 7 = 49	|
7 x 8 = 56	|
7 x 9 = 63	|
==============================
8 x 1 = 8	|
8 x 2 = 16	|
8 x 3 = 24	|
8 x 4 = 32	|
8 x 5 = 40	|
8 x 6 = 48	|
8 x 7 = 56	|
8 x 8 = 64	|
8 x 9 = 72	|
==============================
9 x 1 = 9	|
9 x 2 = 18	|
9 x 3 = 27	|
9 x 4 = 36	|
9 x 5 = 45	|
9 x 6 = 54	|
9 x 7 = 63	|
9 x 8 = 72	|
9 x 9 = 81	|

In [ ]:
sum = 0
while True:
    x = int

In [51]:
for x in range(10):
    if x<8: continue
    print(x)
print("DONE")

8
9
DONE

In [53]:
for x in range(10):
    if x<8: 
        continue
    print(x)
print("DONE")

8
9
DONE

In [62]:
marks = [90,89,78,67,56,67,78,47,25,47,69,70,56,46,3,53,42,21,36,35,46]
num = 0
for i in marks:
    num += 1
    if i <= 70 : continue
    print("%d학생 합격이다. 축하한다."% (num))

1학생 합격이다. 축하한다.
2학생 합격이다. 축하한다.
3학생 합격이다. 축하한다.
7학생 합격이다. 축하한다.

In [64]:
"i have %s apples " %3

'i have 3 apples '

In [66]:
#10글자 오른쪽 정렬
"%10s"%"hi"

'        hi'

In [69]:
"%5d"%123

'  123'

In [72]:
#소수점 자리수 표현(반올림됨)
"%0.4f"%3.14166592

'3.1417'

In [79]:
#앞자리와 뒷자리 동시 표현
"%10.3f"%1426.123456 #전체 자리수가 10자리이며 소수점은 3자리를 의미

'  1426.123'

# Function

In [83]:
def print_address():
    print("광주광역시")
    print("서구")
    print("스마트 학회")
    
print(print_address) 
#결과 : <function print_address at 0x0000000004F1F378>
#아무래도 함수만 호출해야하는데 함수를 프린트의 인수로 주니, 함수의 주소를 나타내주는 것 같다.

<function print_address at 0x0000000004F1F0D0>

In [85]:
#인수를 사용하기

def print_address(name):
    print("서울특별시 종로구 1번지")
    print("파이썬 빌딩 7층")
    print(name)
    
print_address("홍길동")

서울특별시 종로구 1번지
파이썬 빌딩 7층
홍길동

In [91]:
#return 반환값 활용하기

def calculate_area(radius):
    area = 3.14*radius**2
    return area

c_area = calculate_area(5.0)
print(c_area)

78.5

In [94]:
#여러개의 인수를 입력받아 기능 수행 후 리턴하여 출력하기

def get_sum(start,end):
    sum = 0
    for i in range(start, end+1):
        sum +=i
    return sum

print(get_sum(1,100))

5050

In [102]:
def example(abc):
    return abc+4

example(50)

14

In [100]:
#지역변수와 전역변수
#LOCAL VARIABLE 
#GLOBAL VARIABLE

def calculate_area(radius):
    result = 3.14 * radius **2
    return result

r = float(input("원의 반지름 : "))
area = calculate_area(r)
print(result) 

#의도적으로 오류를 출력한다. 
#result 는 함수 내에서 사용된 지역변수이기 때문에, 지역변수로서 함수 바깥에서는 쓸 수 없다.
#전역변수(Global Variable)는 바깥에서 선언하고 함수 내부에서도 그대로 사용할 수 있다. 
#아래 라인에 고쳐진 코드를 보자. result 를 글로벌 함수로 선언해보자.

원의 반지름 : 50

NameError: name 'result' is not defined

In [103]:
def calculate_area(radius):
    global result #전역변수로서 선언했으며
    result = 3.14 * radius **2
    return result

r = float(input("원의 반지름 : "))
area = calculate_area(r)
print(result)

원의 반지름 : 50
7850.0

In [105]:
#Default Parameter
#파이선은 매개변수가 기본값을 가질 수 있다. (자바와는 차이가 되는 부분)

def greet(name, msg = "별 일 없죠?"):
    print("안녕", name+','+msg)
    
greet("영희")

안녕 영희,별 일 없죠?

In [107]:
def calc(x,y,z):
    return x+y+z

calc(1,2,3)

6

In [109]:
def calc(x,y,z):
    return x+y+z

calc(x=1,2,3) # 첫 번째 인수의 위치값을 지정하는 것은 오류를 발생시킨다.

SyntaxError: positional argument follows keyword argument (<ipython-input-109-f7a8fb1f789f>, line 4)

In [113]:
def calc(x,y,z):
    return x+y+z

calc(1,z=2,y=3) #그러나 두 번째 인수부터는 위치값을 지정하는 것이 가능하다.

6

In [118]:
def calc(x,y,z):
    return x+y+z

calc(1,2,z=3) #그러나 두 번째 인수부터는 위치값을 지정하는 것이 가능하다.

6

# LIST

In [121]:
#단일 문자 LIST

letters = ['a','b','c','d','e','f']
print (letters[2])

c

In [124]:
#혼합 LIST
a=[1,2,3,['a','b','c']]
print(a[-1])
print(a[3]) #위 두 지정은 똑같다.

['a', 'b', 'c']
['a', 'b', 'c']

In [128]:
#혼합 LIST 의 출력(2차원 배열의 구현)
a=[1,2,3,['a','b','c']]
print(a[3][0]) #2차원 배열의 구현

a

Slicing

In [136]:
#배열의 범위 출력(Slicing)
letters = ['A','B','C','D','E','F']
print(letters[2:5])
print(letters[:])
print(letters[3:])
print(letters[:3])

['C', 'D', 'E']
['A', 'B', 'C', 'D', 'E', 'F']
['D', 'E', 'F']
['A', 'B', 'C']

In [139]:
#리스트의 항목 변경
heroes = ["아이언맨","토르","헐크","스칼렛 위치"]
print(heroes)
heroes[1] ="닥터 스트레인지"
print(heroes)

['아이언맨', '토르', '헐크', '스칼렛 위치']
['아이언맨', '닥터 스트레인지', '헐크', '스칼렛 위치']

In [142]:
#함수를 이용하여 추가하기
#functionName.insert(1,Target)

heroes = ["아이언맨","토르","헐크","스칼렛 위치"]
heroes.insert(1,"배트맨")
print(heroes)

['아이언맨', '배트맨', '토르', '헐크', '스칼렛 위치']

In [145]:
#함수를 이용하여 입력한 값과 정확히 일치하는 값 삭제하기
#functionName.remove("스칼렛 위치")

heroes = ["아이언맨","토르","헐크","스칼렛 위치"]
heroes.remove("스칼렛 위치")
print(heroes)

['아이언맨', '토르', '헐크']

In [146]:
#슈퍼맨이라는 항목을 리스트에서 삭제하기(if문 사용) - 수업시간에 다루지 않음

In [149]:
#인덱스를 사용하여 항목 삭제하기
heroes = ["아이언맨","토르","헐크","스칼렛 위치"]
del heroes[2]
heroes

['아이언맨', '토르', '스칼렛 위치']

In [156]:
#pop() 사용하여 삭제하기(끝부분을 삭제한다. Stack 의 원리)

heroes = ["아이언맨","토르","헐크","스칼렛 위치"]
print(heroes)
print(heroes.pop()) #삭제가 됨과 동시에 해당 함수에 삭제된 값이 담기는 것 같다. 
print(heroes)
print(heroes.pop()) #삭제가 됨과 동시에 해당 함수에 삭제된 값이 담기는 것 같다. 
print(heroes)

['아이언맨', '토르', '헐크', '스칼렛 위치']
스칼렛 위치
['아이언맨', '토르', '헐크']
헐크
['아이언맨', '토르']

In [162]:
#리스트 탐색하기, listName.index(Number) -> 해당 값과 동일한 값을 가진 항목의 인덱스 번호를 반환한다.
letters = ['A','B','C','D','E','F']
letters.index("A")

0

In [163]:
#LIST 방문하기 
heroes = ["아이언맨","토르","헐크","스칼렛 위치"]
for hero in heroes:
    print(hero)

아이언맨
토르
헐크
스칼렛 위치

In [170]:
#LIST 정렬하기
heroes = ["아이언맨","토르","헐크","스칼렛 위치"]
heroes.sort()
print(heroes)

letters = ['3','2','5','a','B','c','A','E','f','a','B','g']
letters.sort()
print(letters)

#갑작스런 궁금증, 탐색시 동일한 값이 여러 항목이라면 어떻게 반환할까?
letters = ['3','2','5','a','B','c','A','E','f','a','B','g']
print(letters.index("B"))
print(letters.index("B")) # 첫번째 매칭 되는 항목의 인덱스만 반환하는 것 같다.

['스칼렛 위치', '아이언맨', '토르', '헐크']
['2', '3', '5', 'A', 'B', 'B', 'E', 'a', 'a', 'c', 'f', 'g']
4
4

In [183]:
#extend 함수 사용하여 항목 추가하기

a = [1,2,3,4]
a.extend([5,6])
print(a)
#튜플처럼 LIST 도 더하기 연산이 가능할까?
a+[5,6] #된다.

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6, 5, 6]

In [175]:
#항목의 개수 count 하기

a=[1,2,3,4,1,2,3,1,2,3]
a.count(1)

3

# Tuple

In [209]:
#튜플은 소괄호()로 정의되며, 호출시엔 대괄호[]를 사용한다.
t1=()
t2=(1,)
t3=(1,2,3)
t4=1,2,3
t5=('a','b',('ab','cd'))

#튜플의 호출(LIST 와 거의 동일)
print(t3[2])
print(t5[1:])

#튜플의 연결
t3+t4

#튜플의 반복 연결
(1,2,3)*5

3
('b', ('ab', 'cd'))

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

# Dictionary

In [188]:
#LIST 의 항목을 구분하는 것이 순차적으로 증가하는 index 였던 반면 Dictionary 는 구체적인 키값으로 항목의 값을 찾도록 한다.

phone_book = {}
phone_book["홍길동"] = "010-1234-5678"

print(phone_book) 

#결과 해석 
#"홍길동"은 키에 해당이 되고, "010-1234-5678"은 값에 해당된다. 이는 콜론(:)으로 연결된다.

SyntaxError: invalid syntax (<ipython-input-188-af1f8b7dc93f>, line 7)

In [195]:
#Dictionary 의 정의와 호출
dic = {'name':'cwP','phone':'01023123123','birthday':'19890505'}
print(dic)
print(dic["name"]) # LIST, Tuple 과 마찬가지로 호출은 역시 대괄호([])를 사용한다. 
#print(dic[1]), 왼쪽의 코드와 같이 Dictionary 는 인덱스 호출이 불가능한듯 하다.

{'name': 'cwP', 'phone': '01023123123', 'birthday': '19890505'}
cwP

KeyError: 1

In [203]:
#Dictionary 의 key 와 value 를 따로 출력해보기

dic = {'name':'cwP','phone':'01023123123','birthday':'19890505'}
print(dic.keys())
print(dic.values())

dict_keys(['name', 'phone', 'birthday'])
dict_values(['cwP', '01023123123', '19890505'])

In [205]:
#Dictionary 는 for 안에서도 쉽게 활용할 수 있다.(구현해보기)