In [3]:
import numpy as np
import pandas as pd

In [8]:
df3 = pd.DataFrame({"id":[1,2,3,4,5,6],"raw_grade":['a','b','b','a','a','e']})
df3

   id raw_grade
0   1         a
1   2         b
2   3         b
3   4         a
4   5         a
5   6         e

In [10]:
df3["grade"]=df3["raw_grade"].astype("category")
df3("grade")

TypeError: 'DataFrame' object is not callable