# Statistics

In [67]:
import numpy as np
import pandas as pd

행렬생성

In [11]:
data = [[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]]

객체생성

In [17]:
df = pd.DataFrame(data, columns = ["one","two"], index = ["a","b","c","d"])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

SUM

In [20]:
df.sum(axis=1) #열방향대로의 행별 합

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [22]:
df["one"].sum() #열 선택과 해당 열에 대한 합계

9.25

In [23]:
df.loc["b"].sum() #.loc 메소드 이용하여 합계 구하기

2.5999999999999996

Average (결측치(NaN)에 따른)

In [27]:
df.mean(axis = 1, skipna=False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [30]:
df.mean(axis = 1, skipna=True) #평균의 값 중에 na 값이 있다면 skip

a    1.400
b    1.300
c      NaN
d   -0.275
dtype: float64

최솟값

In [36]:
df.min(axis = 0)

one    0.75
two   -4.50
dtype: float64

In [38]:
df.min(axis=1)

a    1.4
b   -4.5
c    NaN
d   -1.3
dtype: float64

결측치처리

In [47]:
one_mean = df.mean(axis=0)["one"]
df["one"].fillna(value=one_mean)
#해당 열("one")의 평균값을 계산하고 평균값을 NaN 이 들어있느 곳에 넣기

a    1.400000
b    7.100000
c    3.083333
d    0.750000
Name: one, dtype: float64

In [65]:
two_min = df.min(axis=0)["two"]
df["two"].fillna(value=two_min)
#해당 열("two")의 최솟값을 계산하고 최솟값을 NaN 이 들어있는 곳에 넣기

KeyError: 'two'

표처리(결과 대입)

In [53]:
df #위의 계산 결과를 넣어주지는 않았다. 따라서 아래와 같은 표의 형태가 나타난다

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [54]:
#계산결과 대입

In [56]:
df["one"]=df["one"].fillna(value=one_mean)
df["two"]=df["two"].fillna(value=two_min)

In [58]:
#출력
df

        one  two
a  1.400000 -4.5
b  7.100000 -4.5
c  3.083333 -4.5
d  0.750000 -1.3

난수행렬생성( 열 이름 :a,b,c,d | 행의 인덱스 : 날짜(1씩증가))

In [73]:
df2=pd.DataFrame(np.random.rand(6,4))
df2.columns=["a","b","c","d"]
df2.index = pd.date_range("20170913", periods=6)

In [76]:
df2["e"]=[1.0,np.nan,3.5,4.6,np.nan,7.1]
#행의 추가

In [78]:
df2

                   a         b         c         d    e
2017-09-13  0.553195  0.455926  0.809241  0.483128  1.0
2017-09-14  0.242137  0.449545  0.226395  0.050184  NaN
2017-09-15  0.363021  0.044696  0.132609  0.808035  3.5
2017-09-16  0.168623  0.993316  0.123740  0.770738  4.6
2017-09-17  0.592602  0.070781  0.266633  0.900623  NaN
2017-09-18  0.305862  0.450260  0.191705  0.055053  7.1

날짜정보의 변환

In [79]:
pd.to_datetime("20170917")

Timestamp('2017-09-17 00:00:00')

상관계수

In [82]:
df2["a"].corr(df2["b"])

-0.6480577185426506

공분산

In [86]:
df2["a"].cov(df2["b"])

-0.037931478787494644

인덱스 기준 정렬(내림차순, 오름차순)

In [122]:
df2.sort_index(axis=0, ascending=False)

                   a         b         c         d    e  f
2017-09-18  0.305862  0.450260  0.191705  0.055053  7.1  4
2017-09-17  0.592602  0.070781  0.266633  0.900623  NaN  0
2017-09-16  0.168623  0.993316  0.123740  0.770738  4.6  4
2017-09-15  0.363021  0.044696  0.132609  0.808035  3.5  3
2017-09-14  0.242137  0.449545  0.226395  0.050184  NaN  2
2017-09-13  0.553195  0.455926  0.809241  0.483128  1.0  1

In [92]:
df2.sort_index(axis=0)

                   a         b         c         d    e
2017-09-13  0.553195  0.455926  0.809241  0.483128  1.0
2017-09-14  0.242137  0.449545  0.226395  0.050184  NaN
2017-09-15  0.363021  0.044696  0.132609  0.808035  3.5
2017-09-16  0.168623  0.993316  0.123740  0.770738  4.6
2017-09-17  0.592602  0.070781  0.266633  0.900623  NaN
2017-09-18  0.305862  0.450260  0.191705  0.055053  7.1

난수 생성과 열 삽입

In [161]:
df2["f"] = np.random.randint(0,6, size = 6)
df2

                   a         b         c         d    e      g  f
2017-09-13  0.553195  0.455926  0.809241  0.483128  1.0  alpha  5
2017-09-14  0.242137  0.449545  0.226395  0.050184  NaN   beta  4
2017-09-15  0.363021  0.044696  0.132609  0.808035  3.5  alpha  1
2017-09-16  0.168623  0.993316  0.123740  0.770738  4.6   beta  3
2017-09-17  0.592602  0.070781  0.266633  0.900623  NaN  alpha  1
2017-09-18  0.305862  0.450260  0.191705  0.055053  7.1   beta  4

In [162]:
#임의의 열 추가
df2["g"] = ["alpha","beta","alpha","beta","alpha","beta"]

임의의 열 기준 정렬

In [163]:
df2.sort_values(by=["e","f"])
#e열을 기준으로 먼저 정렬 후 같을 때 f 를 기준으로 정렬

                   a         b         c         d    e      g  f
2017-09-13  0.553195  0.455926  0.809241  0.483128  1.0  alpha  5
2017-09-15  0.363021  0.044696  0.132609  0.808035  3.5  alpha  1
2017-09-16  0.168623  0.993316  0.123740  0.770738  4.6   beta  3
2017-09-18  0.305862  0.450260  0.191705  0.055053  7.1   beta  4
2017-09-17  0.592602  0.070781  0.266633  0.900623  NaN  alpha  1
2017-09-14  0.242137  0.449545  0.226395  0.050184  NaN   beta  4

In [164]:
del df2["f"] #f는 숫자가 아니기 때문에 삭제해준다.

In [169]:
del df2["g"] #g는 숫자가 아니기 때문에 삭제해준다.

In [170]:
df2

                   a         b         c         d    e
2017-09-13  0.553195  0.455926  0.809241  0.483128  1.0
2017-09-14  0.242137  0.449545  0.226395  0.050184  NaN
2017-09-15  0.363021  0.044696  0.132609  0.808035  3.5
2017-09-16  0.168623  0.993316  0.123740  0.770738  4.6
2017-09-17  0.592602  0.070781  0.266633  0.900623  NaN
2017-09-18  0.305862  0.450260  0.191705  0.055053  7.1

함수의 생성

In [165]:
func = lambda x : x.max()-x.min()

In [173]:
df2.apply(func, axis = 1)

2017-09-13    0.544074
2017-09-14    0.399361
2017-09-15    3.455304
2017-09-16    4.476260
2017-09-17    0.829842
2017-09-18    7.044947
Freq: D, dtype: float64

In [175]:
df2["Diff"]=df2.apply(func, axis = 1)
df2

                   a         b         c         d    e      Diff
2017-09-13  0.553195  0.455926  0.809241  0.483128  1.0  0.544074
2017-09-14  0.242137  0.449545  0.226395  0.050184  NaN  0.399361
2017-09-15  0.363021  0.044696  0.132609  0.808035  3.5  3.455304
2017-09-16  0.168623  0.993316  0.123740  0.770738  4.6  4.476260
2017-09-17  0.592602  0.070781  0.266633  0.900623  NaN  0.829842
2017-09-18  0.305862  0.450260  0.191705  0.055053  7.1  7.044947