In [1]:
import pandas as pd
train = pd.read_csv("train_bike.csv", parse_dates=["datetime"])
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [2]:
test = pd.read_csv("test_bike.csv", parse_dates=["datetime"])
test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

# Train

In [3]:
feature_names = ["season","holiday","workingday","weather","humidity","windspeed"]

In [4]:
X_train = train[feature_names]

In [5]:
X_test = test[feature_names]

In [6]:
y_train = train["count"]
y_train.head()

0    16
1    40
2    32
3    13
4     1
Name: count, dtype: int64

In [7]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor(random_state = 27) #좋아하는 숫자로 지정하면 된다. 
model

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_split=1e-07,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, presort=False, random_state=27,
           splitter='best')

In [8]:
model.fit(X_train,y_train) #이곳이 진정한 학습이 이루어지는 곳이다.

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_split=1e-07,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, presort=False, random_state=27,
           splitter='best')

In [9]:
predictions = model.predict(X_test) #위에서 학습된 자료를 기준으로 X_test 자료의 Count 를 예측한다. 
predictions

array([ 124.,   63.,   63., ...,   71.,   46.,   37.])

# Submission

In [10]:
submission = pd.read_csv("bikeSampleSubmission.csv")
submission["count"]=predictions
submission.head()

              datetime       count
0  2011-01-20 00:00:00  124.000000
1  2011-01-20 01:00:00   63.000000
2  2011-01-20 02:00:00   63.000000
3  2011-01-20 03:00:00  106.666667
4  2011-01-20 04:00:00  106.666667

In [11]:
filename = "bikeSubmission.csv"
submission.to_csv(filename, index = False)

#  Train2(Parsing datetime)

In [12]:
train["weekday"]= train ["datetime"].dt.dayofweek

In [13]:
train["month"]= train["datetime"].dt.month

In [14]:
train["year"]= train["datetime"].dt.year

In [15]:
train["hour"]=train["datetime"].dt.hour

In [16]:
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,weekday,month,year,hour
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,5,1,2011,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,5,1,2011,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,5,1,2011,2
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,5,1,2011,3
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,5,1,2011,4

In [111]:
test["hour"]=test["datetime"].dt.hour
test["year"]= test["datetime"].dt.year
test["month"]= test["datetime"].dt.month
test["weekday"]= test ["datetime"].dt.dayofweek

In [112]:
test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,hour,year,month,weekday,year_month
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,0,2011,1,3,0 2011\n1 2011\n2 2011\n3 ...
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,1,2011,1,3,0 2011\n1 2011\n2 2011\n3 ...
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,2,2011,1,3,0 2011\n1 2011\n2 2011\n3 ...
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,3,2011,1,3,0 2011\n1 2011\n2 2011\n3 ...
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,4,2011,1,3,0 2011\n1 2011\n2 2011\n3 ...

In [90]:
feature_names2 = ["workingday","weather","hour","month","weekday","atemp","year"]

In [91]:
X_train2 = train[feature_names2]
y_train2 = train["count"]
X_test2 = test[feature_names2]
model2 = DecisionTreeRegressor(random_state = 27)
model2.fit(X_train2,y_train2)
model2.predict(X_test2)

array([  11.,    4.,    2., ...,  152.,  144.,   53.])

In [92]:
model.feature_importances_
list(zip(feature_names2,model2.feature_importances_))

[('workingday', 0.032495160144106576),
 ('weather', 0.025612716186504746),
 ('hour', 0.63634897364131215),
 ('month', 0.075213150433150883),
 ('weekday', 0.047888505109326705),
 ('atemp', 0.091898797957304101),
 ('year', 0.090542696528294705)]

# RandomForest

In [93]:
from sklearn.ensemble import RandomForestRegressor
depth_num = 5
model_RF = RandomForestRegressor(max_depth=depth_num, random_state=10, n_estimators=1000, n_jobs=-1,min_samples_leaf=2)
#n_estimator = 10 : 의사결정 트리의 개수이며 많을 수록 좋지만, 역시 컴퓨터의 성능(시간)이 문제다. 
#실제 회사에서는 30000,50000 정도로 넣게 된다. 
#n_jobs = -1 : 내 컴퓨터에 있는 모든 CPU 를 사용하라. default 는 1이며, 1개만 사용하겠다는 의미)
#이외에 다양한 옵션들을 고칠 수 있다. 
model_RF

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=5,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=2,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=1000, n_jobs=-1, oob_score=False, random_state=10,
           verbose=0, warm_start=False)

# Score

In [94]:
# from sklearn.cross_validation import cross_val_score
# score = cross_val_score(model, X_train2, y_train2, cv = 10).mean()
# print(score)

In [106]:
from sklearn.model_selection import cross_val_score

for i in [14]:
    model_RF = RandomForestRegressor(max_depth=i, random_state=27, n_estimators=1000, n_jobs=-1)
    score2 = cross_val_score(model_RF, X_train2, y_train2, cv = 20, scoring = "neg_mean_absolute_error").mean()
    print("{0:.3f}".format(score2))

#Datetime 을 Parsing 한 정보의 점수(0에 가까울 수록 좋다.)

-31.730

In [107]:
model_RF.fit(X_train2,y_train2)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=14,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=1000, n_jobs=-1, oob_score=False, random_state=27,
           verbose=0, warm_start=False)

In [108]:
predict2 = model_RF.predict(X_test2)
submission["count"]=predict2
submission.head()
filename = "bikeSubmission.csv"
submission.to_csv(filename, index = False)

In [ ]:
#Score 함수를 kaggle 에 있는 판정대로 만들어보기