In [1]:
import sqlite3

In [3]:
con=sqlite3.connect("test2.db")

In [5]:
cur = con.cursor()

In [14]:
cur.execute("select * from phonebook;")

In [15]:
cur.fetchmany(2)

[('joann', '010-1234-1234'), ('cw', '011-1234-2124')]

In [16]:
cur.fetchall()

[('abc', '102-5421-5421'), ('qwerty', '210-5121-2021')]

In [17]:
cur.execute("select * from phonebook order by name")

In [20]:
[r for r in cur]

[('abc', '102-5421-5421'),
 ('cw', '011-1234-2124'),
 ('joann', '010-1234-1234'),
 ('qwerty', '210-5121-2021')]

In [31]:
cur.fetchone()

DB 생성 및 Table 생성

In [22]:
con = sqlite3.connect("test3_phonebook.db")

In [23]:
cur.execute("create table phone (name text, age integer)")

insert into

In [26]:
list = (('tom',29),('bob',25),('peter',23),('swift',29))

In [27]:
cur.executemany("insert into phone values (?,?)", list)

select 출력 제어

In [42]:
r = cur.execute("select length(name),upper(name),lower(name) from phone")

In [43]:
print([r for r in cur])

[(3, 'TOM', 'tom'), (3, 'BOB', 'bob'), (5, 'PETER', 'peter'), (5, 'SWIFT', 'swift')]

select 통계 함수

In [52]:
r = cur.execute("select max(age), min(age), sum(age), avg(age) from phone")

In [47]:
print([r for r in cur])

[(29, 23, 106, 26.5)]

select count

In [49]:
r = cur.execute("select count(*) from phone")

In [50]:
print([r for r in cur])

[(4,)]

과일 테이블 만들기

In [80]:
cur.execute("create table items (item_id integer, name text, price integer)")

In [81]:
fruits_list = ((1,'orange',5200),(2,'mango',7700),(3,'kiwi',4000),(4,'grape',8000),(5,'peach',9400),(6,'banana',4000))

In [82]:
cur.executemany("insert into items values(?,?,?)", fruits_list)

In [83]:
r = cur.execute("select * from items")

In [84]:
[r for r in cur]

[(1, 'orange', 5200),
 (2, 'mango', 7700),
 (3, 'kiwi', 4000),
 (4, 'grape', 8000),
 (5, 'peach', 9400),
 (6, 'banana', 4000)]

In [85]:
cur = con.cursor()

In [86]:
price_range = (4000,7000)

In [88]:
cur.execute("select * from items where price >=? and price <=?",price_range)

In [89]:
fr_list = cur.fetchall()

In [90]:
for fr in fr_list:
    print(fr)

(1, 'orange', 5200)
(3, 'kiwi', 4000)
(6, 'banana', 4000)