In [1]:
import pandas as pd
import pandas_datareader.data as web
import datetime
import sqlite3

In [3]:
start = datetime.datetime(2015,1,1)
end = datetime.datetime(2017,1,1)

In [8]:
df = web.DataReader("078930.ks","yahoo",start,end)

In [6]:
df

               Open     High      Low    Close     Adj Close  Volume
Date
2015-01-02  39600.0  40000.0  39100.0  39850.0  38677.941406  171381
2015-01-05  39250.0  39900.0  38700.0  39100.0  37950.000000  312142
2015-01-06  38800.0  38950.0  37900.0  38350.0  37222.058594  277069
2015-01-07  37950.0  38750.0  37600.0  37800.0  36688.234375  132961
2015-01-08  38000.0  38250.0  37750.0  37900.0  36785.292969  135414
2015-01-09  38300.0  38550.0  37850.0  38150.0  37027.941406  138075
2015-01-12  38000.0  38950.0  37950.0  38200.0  37076.468750  104144
2015-01-13  38100.0  38700.0  37650.0  38450.0  37319.117188  197201
2015-01-14  38400.0  38850.0  38050.0  38400.0  37270.585938   99877
2015-01-15  38750.0  38800.0  37900.0  38300.0  37173.527344  151561
2015-01-16  38150.0  38150.0  37200.0  37700.0  36591.175781  171414
2015-01-19  38200.0  39650.0  38000.0  39050.0  37901.468750  322863
2015-01-20  39050.0  40150.0  39050.0  39500.0  38338.234375  213959
2015-01-21  38950.0  39850.0  38850.0  39350.0  38192.644531   92484
2015-01-22  39800.0  40750.0  39700.0  39850.0  38677.941406  247011
2015-01-23  40700.0  41100.0  40200.0  40450.0  39260.292969  348748
2015-01-26  40000.0  40700.0  40000.0  40400.0  39211.761719   93568
2015-01-27  40900.0  41950.0  40650.0  41450.0  40230.882813  343199
2015-01-28  41550.0  42250.0  41400.0  41550.0  40327.941406  275031
2015-01-29  41250.0  41800.0  40200.0  41550.0  40327.941406  160756
2015-01-30  41650.0  42300.0  40900.0  41700.0  40473.527344  315271
2015-02-02  42600.0  43200.0  41850.0  42250.0  41007.351563  522795
2015-02-03  42900.0  43100.0  42100.0  42400.0  41152.941406  262665
2015-02-04  43500.0  43500.0  42500.0  42500.0  41250.000000  302388
2015-02-05  42100.0  42500.0  41800.0  42200.0  40958.824219  184961
2015-02-06  42300.0  42400.0  41650.0  42350.0  41104.410156  296769
2015-02-09  42100.0  43000.0  42050.0  42250.0  41007.351563  155093
2015-02-10  42100.0  42950.0  42000.0  42250.0  41007.351563  143471
2015-02-11  42250.0  42750.0  41400.0  42300.0  41055.882813  252668
2015-02-12  41950.0  42200.0  41450.0  42100.0  40861.761719  281760
...             ...      ...      ...      ...           ...     ...
2016-11-21  55000.0  55000.0  54000.0  54100.0  52508.820313   71536
2016-11-22  55000.0  56200.0  54500.0  55500.0  53867.644531  267426
2016-11-23  55500.0  56600.0  55100.0  55900.0  54255.878906  270312
2016-11-24  55700.0  56000.0  55400.0  55800.0  54158.820313   80963
2016-11-25  56000.0  56300.0  55200.0  55500.0  53867.644531   71362
2016-11-28  55100.0  55900.0  54700.0  55400.0  53770.585938   95262
2016-11-29  55400.0  55900.0  54600.0  55200.0  53576.468750  165365
2016-11-30  55200.0  55300.0  54200.0  54400.0  52800.000000  294804
2016-12-01  56000.0  56200.0  54600.0  54700.0  53091.175781  264488
2016-12-02  54800.0  55200.0  54500.0  54700.0  53091.175781  113660
2016-12-05  54700.0  55100.0  54200.0  54700.0  53091.175781  204227
2016-12-06  55500.0  55700.0  54700.0  55100.0  53479.410156  218996
2016-12-07  55200.0  55200.0  54700.0  55000.0  53382.351563  113520
2016-12-08  55300.0  56200.0  54800.0  56200.0  54547.058594  173043
2016-12-09  55600.0  56000.0  54900.0  55600.0  53964.703125  282304
2016-12-12  55900.0  56000.0  54900.0  55600.0  53964.703125  182725
2016-12-13  55700.0  56000.0  54700.0  55100.0  53479.410156  299168
2016-12-14  55000.0  55100.0  54500.0  54700.0  53091.175781  251508
2016-12-15  54200.0  55300.0  54100.0  54800.0  53188.234375  278628
2016-12-16  54600.0  55000.0  54400.0  54600.0  52994.117188  288206
2016-12-19  54600.0  54900.0  54100.0  54200.0  52605.878906  118515
2016-12-20  54300.0  54700.0  53200.0  53700.0  52120.585938  118542
2016-12-21  53700.0  53700.0  53100.0  53600.0  52023.527344  127698
2016-12-22  53300.0  54000.0  53300.0  53800.0  52217.644531   93837
2016-12-23  53800.0  54000.0  53300.0  53600.0  52023.527344  156443
2016-12-26  53600.0  54200.0  53600.0  54200.0  52605.878906  137160
2016-12-27  54200.0  54600.0  53800.0  54400.0  52800.000000  128187
2016-12-28  53200.0  54700.0  53200.0  53800.0  53800.000000  157710
2016-12-29  53600.0  54100.0  53100.0  54100.0  54100.000000  156722
2017-01-02  54100.0  54100.0  54100.0  54100.0  54100.000000       0

[496 rows x 6 columns]

In [9]:
con = sqlite3.connect('test1.db')

In [10]:
df.to_sql('078930',con)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:1345: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

In [11]:
df.to_sql('078930', con, if_exists = 'replace')

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:1345: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

In [12]:
read_df = pd.read_sql("select * from '078930'", con, index_col="Date")

In [13]:
read_df.head()

                        Open     High      Low    Close     Adj Close  Volume
Date
2015-01-02 00:00:00  39600.0  40000.0  39100.0  39850.0  38677.941406  171381
2015-01-05 00:00:00  39250.0  39900.0  38700.0  39100.0  37950.000000  312142
2015-01-06 00:00:00  38800.0  38950.0  37900.0  38350.0  37222.058594  277069
2015-01-07 00:00:00  37950.0  38750.0  37600.0  37800.0  36688.234375  132961
2015-01-08 00:00:00  38000.0  38250.0  37750.0  37900.0  36785.292969  135414