In [3]:
import sqlite3

db = sqlite3.connect('sql_test1.db')
cur = db.cursor()
cur.execute("create table student1(name text, age integer)")

OperationalError: table student1 already exists

In [4]:
def bulk_insertTable():
    try:
        db = sqlite3.connect('sql_test1.db')
        cur = db.cursor()
        sql = "insert into student1(name, age) values(?,?)"
        data = [('김철수',50),('홍길동',33),('최지우',38)]
        cur.executemany(sql,data)
        db.commit()
        db.close()
        print("insert bulk success")
    except Exceptino as err:
        print('err',err)

In [5]:
bulk_insertTable()

insert bulk success

In [8]:
db = sqlite3.connect('sql_test1.db')
cur = db.cursor()
sql = "select * from student1"
cur.execute(sql)
print(cur.fetchall())

[('김철수', 50), ('홍길동', 33), ('최지우', 38)]

In [10]:
cur.execute(sql)

In [12]:
for dt in cur : 
    print("이름:%s 나이:%d"%(dt[0],dt[1]))
db.close()

이름:홍길동 나이:33
이름:최지우 나이:38

In [21]:
def where_and_table():
    try:
        db = sqlite3.connect('sql_test1.db')
        cur = db.cursor()
        sql = "select * from student1 where name = ? or age = ?"
        data = ("이순신", 33)
        cur.execute(sql,data)
        
        for dt in cur : 
            print("이름 : %s 나이 : %d"%(dt[0],dt[1]))
        db.close()
        
        print("wehre and success")
    except Exception as err:
        print ('error', err)

In [22]:
where_and_table()

이름 : 홍길동 나이 : 33
wehre and success

In [25]:
def where_between_and_table():
    try : 
        db = sqlite3.connect('sql_test1.db')
        cur = db.cursor()
        sql = "select * from student1 where age between 40 and 50"
        cur.execute(sql)
        
        for dt in cur :
            print("이름 : %s 나이 : %d"%(dt[0],dt[1]))
        
        db.close()
        print("between and success")
    except Exception as err:
        print('error', err)

In [26]:
where_between_and_table()

이름 : 김철수 나이 : 50
between and success

In [35]:
def like1_table():
    try : 
        db = sqlite3.connect('sql_test1.db')
        cur = db.cursor()
        sql = "select * from student1 where name like '홍__'"
        cur.execute(sql)
        
        for dt in cur : 
            print("이름 : %s 나이 : %d"%(dt[0], dt[1]))
        db.close()
        print("like success")
    
    except Exception as err:
        print('error', err)

In [36]:
like1_table()

이름 : 홍길동 나이 : 33
like success

In [38]:
def like2_table():
    try : 
        db = sqlite3.connect('sql_test1.db')
        cur = db.cursor()
        sql = "select * from student1 where name like '김%'"
        cur.execute(sql)
        
        for dt in cur : 
            print("이름 : %s 나이 : %d"%(dt[0], dt[1]))
        db.close()
        print("like success")
    
    except Exception as err:
        print('error', err)

In [39]:
like2_table()

이름 : 김철수 나이 : 50
like success

In [108]:
def limit_table():
    try : 
        db = sqlite3.connect('sql_test1.db')
        cur = db.cursor()
        sql = "select * from student1 limit ?"
        data =(4,)
        #왜 (4,) 형식으로 해야하는가? 
        cur.execute(sql,data)
        
        for dt in cur : 
            print("이름 : %s 나이 : %d"%(dt[0], dt[1]))
        db.close()
        print("limit success")
    
    except Exception as err:
        print('error', err)

In [109]:
limit_table()

이름 : 김철수 나이 : 50
이름 : 홍길동 나이 : 33
이름 : 최지우 나이 : 38
이름 : 김삿갓 나이 : 50
limit success

In [97]:
def order_by_table():
    try : 
        db = sqlite3.connect('sql_test1.db')
        cur = db.cursor()
        sql = "select * from student1 where name like '김%' order by age desc"
        cur.execute(sql)
        
        for dt in cur : 
            print("이름 : %s 나이 : %d"%(dt[0], dt[1]))
        db.close()
        print("limit success")
    
    except Exception as err:
        print('error', err)

In [61]:
order_by_table()

이름 : 김첨지 나이 : 120
이름 : 김수로 나이 : 100
이름 : 김철수 나이 : 50
이름 : 김삿갓 나이 : 50
limit success

In [134]:
def group_by_table():
    try : 
        db = sqlite3.connect('sql_test1.db')
        cur = db.cursor()
        sql = "select age, count(*) from student1 group by age"
        cur.execute(sql)
        
        for dt in cur : 
            print("나이 : %s 인원수 : %d"%(dt[0], dt[1]))
        db.close()
        print("limit success")
    
    except Exception as err:
        print('error', err)

In [135]:
group_by_table()

나이 : 33 인원수 : 2
나이 : 38 인원수 : 1
나이 : 50 인원수 : 2
나이 : 100 인원수 : 1
나이 : 120 인원수 : 1
limit success

In [139]:
def between_group_by_table():
    try : 
        db = sqlite3.connect('sql_test1.db')
        cur = db.cursor()
        sql = "select age, count(*) from student1 where age between 40 and 100 group by age"
        cur.execute(sql)
        
        for dt in cur : 
            print("나이 : %s 인원수 : %d"%(dt[0], dt[1]))
        db.close()
        print("limit success")
    
    except Exception as err:
        print('error', err)

In [140]:
between_group_by_table()

나이 : 50 인원수 : 2
나이 : 100 인원수 : 1
limit success

In [156]:
def between_group_by_having():
    try : 
        db = sqlite3.connect('sql_test1.db')
        cur = db.cursor()
        sql = "select age, count(*) from student1 where age between 30 and 100 group by age having count(*)>1"
        cur.execute(sql)
        
        for dt in cur : 
            print("나이 : %s 인원수 : %d"%(dt[0], dt[1]))
        db.close()
        print("having success")
    
    except Exception as err:
        print('error', err)

In [157]:
between_group_by_having()

나이 : 33 인원수 : 2
나이 : 50 인원수 : 2
having success

In [160]:
db = sqlite3.connect('sql_test1.db')
cur = db.cursor()
sql = "create table department(id auto increment, department text)"
cur.execute(sql)

In [184]:
def insert_department():
    try:
        db = sqlite3.connect('sql_test1.db')
        cur = db.cursor()
        sql = "insert into department (id,department) values(?,?)"
        dn = [(1,'기획'),(2,'재정'),(3,'인사'),(4,'총무'),(5,'개발'),(6,'혁신'),(7,'창조')]
        cur.executemany(sql,dn)
        db.commit()
        db.close()
        print("insert success")
    except Exception as err:
        print('error',err)

In [186]:
insert_department()

insert success

In [187]:
db = sqlite3.connect('sql_test1.db')
cur = db.cursor()
sql = "create table employee(num int, name text, age int, id int, salary int)"
cur.execute(sql)

In [188]:
def insert_member():
    try:
        db = sqlite3.connect('sql_test1.db')
        cur = db.cursor()
        sql = "insert into employee (num, name, age, id, salary) values(?,?,?,?,?)"
        dn = [(1,'폴2',32,1,2000),
              (2,'알렌2',32,2,2000),
              (3,'폴2',32,7,2000),
              (4,'알렌2',32,7,2000),
              (5,'테디2',32,3,2000),
              (6,'마크2',32,3,2000),
              (7,'다윗2',32,5,2000),
              (8,'김2',32,4,2000),
              (9,'폴3',32,7,2000),
              (10,'테디2',32,3,2000),
              (11,'마크2',32,4,2000),
              (12,'다윗2',32,1,2000),
              (13,'김2',32,2,2000),
              (14,'제임스2',32,4,2000),
              (15,'제임스2',32,2,2000),
              (16,'폴3',32,0,2000),
              (17,'알렌2',32,0,2000)]
        cur.executemany(sql,dn)
        db.commit()
        db.close()
        print("insert success")
    except Exception as err:
        print('error',err)

In [189]:
insert_member()

insert success

In [197]:
def innerJoin_select_Table():
    try :
        conn = sqlite3.connect('sql_test1.db')
        cur = conn.cursor()
        sql = "select em.name, dt.department FROM department as dt INNER JOIN employee as em ON dt.id = em.id"
        cur.execute(sql)
        
        for i in cur : 
            print(i)
        conn.close()
        print("select success")
    except Exception as err : 
        print('error ', err)

In [198]:
innerJoin_select_Table()

('다윗2', '기획')
('폴2', '기획')
('김2', '재정')
('알렌2', '재정')
('제임스2', '재정')
('마크2', '인사')
('테디2', '인사')
('테디2', '인사')
('김2', '총무')
('마크2', '총무')
('제임스2', '총무')
('다윗2', '개발')
('알렌2', '창조')
('폴2', '창조')
('폴3', '창조')
select success

In [203]:
def outerJoin_select_Table():
    try :
        conn = sqlite3.connect('sql_test1.db')
        cur = conn.cursor()
        sql = "select em.name, dt.department FROM department as dt OUTER JOIN employee as em ON dt.id = em.id"
        cur.execute(sql)
        
        for i in cur : 
            print(i)
        conn.close()
        print("select success")
    except Exception as err : 
        print('error ', err)

In [204]:
outerJoin_select_Table()

error  RIGHT and FULL OUTER JOINs are not currently supported